.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 35px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 291px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px 70px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 291px;
  background-image: url("images/16.jpg");
  background-position: 50% 44.37%;
  background-size: cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-image-2 {
  min-height: 412px;
  width: 615px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/25.jpg');
  background-position: 50% 50%;
  margin: -82px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  margin: 0;
  padding: 20px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 60px 30px 80px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin-top: 20px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-1 .u-image-1 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-1 .u-image-2 {
    width: 523px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 323px;
  }

  .u-section-1 .u-image-2 {
    min-height: 346px;
    width: 412px;
    margin-top: -63px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 426px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 274px;
  }

  .u-section-1 .u-image-2 {
    width: 460px;
    margin-top: -112px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-1 .u-image-1 {
    min-height: 268px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 763px;
}

.u-section-2 .u-shape-1 {
  width: 644px;
  height: 683px;
  margin: 40px auto 0 -45px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -621px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 559px;
  background-image: url("images/Meetyourhosts.jpg");
  background-position: 50% 0%;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 40px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 147px auto 0 75px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 36px 0 0 75px;
}

.u-section-2 .u-social-icons-1 {
  height: 81px;
  width: 116px;
  margin: 30px auto 0 75px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-shape-1 {
    width: 552px;
    height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -524px;
  }

  .u-section-2 .u-image-1 {
    min-height: 461px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-shape-1 {
    width: 434px;
    height: 460px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 126px;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-2 .u-shape-1 {
    width: 614px;
    height: 651px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -597px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-image-1 {
    min-height: 499px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-2 .u-shape-1 {
    height: 351px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -317px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 85px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 187px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    width: 243px;
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 917px;
}

.u-section-3 .u-group-1 {
  width: 706px;
  min-height: 787px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 36px 40px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 612px;
  grid-template-rows: repeat(3, auto);
  margin: 30px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 619px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 30px 20px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 2px 82px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 30px 20px 0;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  margin: 2px 82px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 467px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-group-1 {
    min-height: 905px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 269px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 662px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}