 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 956px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 393px;
  background-image: url("images/x1.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 393px;
  background-image: url("images/28.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 393px;
  background-image: url("images/13.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 393px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 570px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 306px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 234px;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }

  .u-section-1 .u-image-2 {
    min-height: 324px;
  }

  .u-section-1 .u-image-3 {
    min-height: 324px;
  }

  .u-section-1 .u-image-4 {
    min-height: 324px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 370px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 194px;
  }

  .u-section-1 .u-image-1 {
    min-height: 248px;
  }

  .u-section-1 .u-image-2 {
    min-height: 248px;
  }

  .u-section-1 .u-image-3 {
    min-height: 248px;
  }

  .u-section-1 .u-image-4 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1844px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 202px;
  }

  .u-section-1 .u-image-1 {
    min-height: 279px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 279px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 195px;
  }

  .u-section-1 .u-image-1 {
    min-height: 176px;
  }

  .u-section-1 .u-image-2 {
    min-height: 351px;
  }

  .u-section-1 .u-image-3 {
    min-height: 351px;
  }

  .u-section-1 .u-image-4 {
    min-height: 176px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 8px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1512px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 60px 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin: 149px 46px 42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin: 112px 0 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 80px;
    margin-bottom: 13px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 838px;
}

.u-section-3 .u-form-1 {
  --thumb-color: #0083ff;
  --thumb-hover-color: #4da8ff;
  --track-color: #c0c0c0;
  --track-active-color: #0083ff;
  height: 780px;
  margin: 29px 248px 29px 282px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-form-group-6 {
  --progress: 0%;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-form-group-8 {
  margin-left: 0;
}

.u-section-3 .u-form-group-9 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-form-1 {
    width: 570px;
    margin-left: 182px;
    margin-right: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-form-1 {
    margin-left: 72px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  width: 472px;
  margin: 33px auto 51px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 802px;
  margin: 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 180px auto 180px 0;
}

.u-section-5 .u-video-1 {
  min-height: 442px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-2 {
  min-height: 442px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-video-1 {
    min-height: 364px;
  }

  .u-section-5 .u-video-2 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-video-1 {
    min-height: 279px;
  }

  .u-section-5 .u-video-2 {
    min-height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-video-1 {
    min-height: 419px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-video-2 {
    min-height: 419px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-video-1 {
    min-height: 264px;
  }

  .u-section-5 .u-video-2 {
    min-height: 264px;
  }
}